#nav-bar {
  position: fixed;

  top: 0;

  height: 80px;

  width: 100%;

  background-color: #00a087;

  color: #e8fdff;

  padding: 0 2em;

  z-index: 100;

}

#nav-bar .logo {
  float: left;

  height: 80px;

  width: 80px;

}

#nav-bar .header {
  float: left;

  font-size: 2em;

  line-height: 80px;

  margin-left: 10px;
}

#nav-bar button {

  height: 75%;

  float: right;

  border-radius: 5px;

  background-color: #e8fdff;

  color: #00a087;

  margin-top: 10px;

  margin-left: 10px;

  border-color: #444444;

  font-size: 1.5em;

  padding: 10px;
}

#nav-bar p {
  float: right;

  color: #FFFFFF;

  vertical-align: text-bottom;
}

#nav-bar button:hover {

  filter: grayscale(100%);

  color: #444444;
}

.hidden {
  display: none;
}