.new-tweet {
  background-color: #eee;
  border-radius: 5px;
  border-style: solid;
  border-color: #ddd;
  border-width: 1px;
  margin: 0 2em;
  padding: 10px;
  display: none;
}

.new-tweet textarea {
  padding: 5px;
  width:100%;
  resize: vertical;
}

.new-tweet span {
  float: right;
}

.new-tweet h2 {
  line-height: 15px;
}